language: go
addons:
  apt:
    packages:
      - rpm
env:
  matrix:
    - GO111MODULE="on"
  global:
    secure: mLWEfPdleOiqQuGVhQRM/cSJ2I7N3/oFUJgKjsPgR0TaZ5Q8jEK2p/K/HsAMAscNCQQHZBlvpjhG2+9K1nCNS/9po9vrzy8mFDXepqYuI4yH2qPnoz00yU2crPSzjPHuZd8l/NW9i3FKfVO/5xQtNI8CXjck8oaK9vLPZ3O8y2s50Cd3szH7m9EdnzeSaOz4d5wrn7XKRdpG5yMPj9J0ZRdY9CPAa8L09WMrOEp96ZTRdRiShwOXO3FZ1wz0jI4No3taWb/q91SVdTOvJVTV6dnhMICjmrUwzvQEVxPWmXib1h9SnP7Zl6d2JqDY8E/mAZKP1ILWcODG/+vxVjYtf8Zblu/KDuP9MZhfGwIUg0PcMKUaFipH5JhNtXSdfBC3Dr3kzY0NjqsFIn2w6UTOlcNuZIBoWTcIOjCQIYL3NdMVkD09ygXEpFxHolu9DRsfBkaz6Se5TWiWipB3vA1EzFAAyjuGTKVP7FEiNPKN5Ltidp5xzOkyHOMq/dHUF3REo98pEqNwWK6pZl3gylRWedMuPraQxuFQOSfqyA/MBLJC1A9Aw1UjBFBzcS1ILXTwWb+D2CJOKI3ZKUttg6hm4Ydr6yaQPc7G/swqPlOCgo0YWmrg9t12IizetxxGwgn3sFtDjN0xNienFY99q1KHid8CJT/khFbmh0ymV9W970s=
before_install:
  - go get -u golang.org/x/lint/golint
script:
  - ./tests.sh
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: "$TRAVIS_OS_NAME = linux"
after_deploy:
  - ./after_deploy.sh
